<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>{% block title %}{% endblock %} - Todo List</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('todo.index')}}">Todo List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if g.user %}
            <h5><span class="badge bg-info text-dark mt-2">{{ g.user['username'] }}</span></h5>
            <a class="nav-link active" href="{{ url_for('auth.logout') }}">Sign off</a>
          {% else %}
            <a class="nav-link active" href="{{url_for('auth.register')}}">Register</a>
            <a class="nav-link active" href="{{url_for('auth.login')}}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
    </nav>

    <!--
    <nav>
      <h2>Todo List</h2>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Sign off</a></li>
        {% else %}
          <li><a href="{{url_for('auth.register')}}">Register</a></li>
          <li><a href="{{url_for('auth.login')}}">Login</a></li>
        {% endif %}
    </ul>
    </nav>
    -->

    <section class="container mt-3">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
